<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 회원 정보</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="admin_container">
    <h1>회원 정보</h1>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Total Hits</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- 반복문을 이용하여 회원 정보 출력 -->
        <tr th:each="member : ${members}">
            <td th:text="${member.username}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.role != null ? member.role.name() : ''}"></td>
            <td th:text="${member.hit}"></td>
            <td>
                <!-- <form th:action="@{/member/admin/deleteMember/{username}(username=${member.username})}" method="POST"
                      onsubmit="return confirm('정말로 회원을 탈퇴시키겠습니까?');">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">탈퇴</button>
                </form>
                 GetMapping 용
                  -->
                <a th:href="@{/member/admin/deleteMember/{username}(username=${member.username})}"
                   th:attr="onclick='return confirm(\'정말로 회원을 탈퇴시키겠습니까?\')'"
                   class="btn btn-danger">탈퇴</a>


            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>