/* 버튼 커스텀 */
.custom-btn {
  width: 80px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-nav{
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 13 */
.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #000;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;

}
.btn-13:active {
  top: 2px;
}
/* nav-custom */
.nav-13 {
  background-color: #6e1a0b;
background-image: linear-gradient(315deg, #6e1a0b 0%, #9c330e 74%);
  border: none;
  z-index: 1;
  color: #f78f07;
}
.nav-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #7d1e11;
background-image: linear-gradient(315deg, #7d1e11 0%, #b02a18 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.nav-13:hover {
  color: #fff;
}
.nav-13:hover:after {
  top: 0;
  height: 100%;

}
.nav-13:active {
  top: 2px;
}

/* 노멀라이즈 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 탑바 제작 */
.top_bar_section {

}

.top_bar_section > .top_container > .nav_bar{

  width: 1240px;
  height: 110px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.top_bar_section > .top_container > .nav_bar > .main_logo {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  padding-right: 100px;
}

.top_bar_section > .top_container > .nav_bar > .main_logo > a {
  display: inline-block;
}

.top_bar_section > .top_container > .nav_bar > .main_logo > a >img{
  width: 230px;
  height: 110px;
}

.top_bar_section > .top_container > .nav_bar > .search_bar {

  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_bar_section > .top_container >.nav_bar > .search_bar > input{
  width: 400px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.top_bar_section > .top_container > .nav_bar > .user_page {
  flex-grow: 1;
  flex-basis: 0;
  align-content:center;
}

.top_bar_section > .top_container > .nav_bar > .user_page {
  flex-grow: 1;
  flex-basis: 0;
  align-content:center;
}

.top_bar_section > .top_container > .nav_bar >.user_page > a {
  display: inline-block;
  margin-left: 120px;
}

.top_bar_section > .top_container > .nav_bar >.user_page > a> img{
  width: 80px;
}



.top_bar_section > .middle_container > .nav_bar {
  background-color: rgb(125, 30, 17);

}

.top_bar_section > .middle_container > .nav_bar > ul{
  display: flex;
  width: 1240px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.top_bar_section > .middle_container > .nav_bar > ul > li{
  border: 2px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  align-content: center;
  position:relative;
}

.top_bar_section > .middle_container > .nav_bar > ul > li:hover {

  transition: background-color 0.3s, opacity 1s;
}

.top_bar_section > .middle_container > .nav_bar > ul > li > a{

  display: inline-block;
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
}
.top_bar_section > .middle_container > .nav_bar > ul > li > ul{
  position:absolute;
  top : 100%;
  left: -101%;
  width: 1239px;
  visibility:hidden;
  opacity:0;
  transition:linear 500ms;
}

.top_bar_section > .middle_container > .nav_bar > ul > li > ul > li{
  height: 100px;
  display: flex;

}

.top_bar_section > .middle_container > .nav_bar > ul > li > ul > li > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border: 3px solid rgba(255,255,255,0.2);
}

.top_bar_section > .middle_container > .nav_bar > ul > li > ul > li > a:hover{
  color: #f78f07;
}

.top_bar_section > .middle_container > .nav_bar > ul > li:nth-child(2):hover > ul{
  visibility:visible;
  transition:linear 500ms;
  opacity:1;
  z-index: 2;
}

/* 프로필 부분 */
.profile-section {
width:70%;
  text-align: center;

  position: relative;
  margin-left:auto;
  margin-right:auto;
}

.profile-background {
  width:100%;
  height: 300px;
  background: url('https://img.freepik.com/premium-photo/young-asian-chef-presenting-a-gourmet-dish-in-a-restaurant-kitchen-surrounded-by-fresh-herbs_853677-107663.jpg?size=626&ext=jpg&ga=GA1.1.1788614524.1718323200&semt=ais_user') no-repeat center center;
  background-size: cover;
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5); /* 투명한 흰색 테두리 */
    box-sizing: border-box; /* 테두리 크기가 요소 크기에 포함되도록 설정 */
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(90%); /* 어둡게 처리 예시 */
}

.profile-pic {
  margin-top: 200px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: inline-block;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

.profile-content {
  margin-top: 20px;
}

/* 레시피 섹션 */
.recipes-section {
  width:70%;
  background-color: rgba(255, 255, 255, 0.5);


  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   margin-left:auto;
    margin-right:auto;
}

.recipes-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

.recipes-section .recipes ul {
  list-style: none;
  padding: 0;
}

.recipes-section .recipes ul li {
  margin-bottom: 10px;
}

.recipes-section .recipes ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.recipes-section .recipes ul li a:hover {
  text-decoration: underline;
}
