/* 버튼 커스텀 */
.custom-btn {
  width: 80px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-nav{
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 13 */
.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #000;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;

}
.btn-13:active {
  top: 2px;
}
/* nav-custom */
.nav-13 {
  background-color: #6e1a0b;
background-image: linear-gradient(315deg, #6e1a0b 0%, #9c330e 74%);
  border: none;
  z-index: 1;
  color: #f78f07;
}
.nav-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #7d1e11;
background-image: linear-gradient(315deg, #7d1e11 0%, #b02a18 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.nav-13:hover {
  color: #fff;
}
.nav-13:hover:after {
  top: 0;
  height: 100%;

}
.nav-13:active {
  top: 2px;
}

/* 노멀라이즈 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 탑바 제작 */
.top_bar_section {

}

.top_bar_section > .top_container > .nav_bar{

  width: 1240px;
  height: 110px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.top_bar_section > .top_container > .nav_bar > .main_logo {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  padding-right: 100px;
}

.top_bar_section > .top_container > .nav_bar > .main_logo > a {
  display: inline-block;
}

.top_bar_section > .top_container > .nav_bar > .main_logo > a >img{
  width: 230px;
  height: 110px;
}

.top_bar_section > .top_container > .nav_bar > .search_bar {

  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_bar_section > .top_container >.nav_bar > .search_bar > input{
  width: 400px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.top_bar_section > .top_container > .nav_bar > .user_page {
  flex-grow: 1;
  flex-basis: 0;
  align-content:center;
}

.top_bar_section > .top_container > .nav_bar > .user_page {
  flex-grow: 1;
  flex-basis: 0;
  align-content:center;
}

.top_bar_section > .top_container > .nav_bar >.user_page > a {
  display: inline-block;
  margin-left: 120px;
}

.top_bar_section > .top_container > .nav_bar >.user_page > a> img{
  width: 80px;
}



.top_bar_section > .middle_container > .nav_bar {
  background-color: rgb(125, 30, 17);

}

.top_bar_section > .middle_container > .nav_bar > ul{
  display: flex;
  width: 1240px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.top_bar_section > .middle_container > .nav_bar > ul > li{
  border: 2px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  align-content: center;
  position:relative;
}

.top_bar_section > .middle_container > .nav_bar > ul > li:hover {

  transition: background-color 0.3s, opacity 1s;
}

.top_bar_section > .middle_container > .nav_bar > ul > li > a{

  display: inline-block;
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
}
.top_bar_section > .middle_container > .nav_bar > ul > li > ul{
  position:absolute;
  top : 100%;
  left: -101%;
  width: 1239px;
  visibility:hidden;
  opacity:0;
  transition:linear 500ms;
}

.top_bar_section > .middle_container > .nav_bar > ul > li > ul > li{
  height: 100px;
  display: flex;

}

.top_bar_section > .middle_container > .nav_bar > ul > li > ul > li > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border: 3px solid rgba(255,255,255,0.2);
}

.top_bar_section > .middle_container > .nav_bar > ul > li > ul > li > a:hover{
  color: #f78f07;
}

.top_bar_section > .middle_container > .nav_bar > ul > li:nth-child(2):hover > ul{
  visibility:visible;
  transition:linear 500ms;
  opacity:1;
  z-index: 2;
}

/* ranking.css */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;

}

header {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.ranking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1240px; /* 최대 너비 지정 */
    margin: 0 auto; /* 가운데 정렬을 위해 */
}

.ranking-card {
    width: calc(15% - 40px); /* 한 줄에 5개의 카드가 정렬되도록 설정 */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.ranking-card:hover {
    transform: translateY(-5px);
}

.ranking-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 프로필 사진을 둥글게 만듭니다. */
    display: block;
    margin: 0 auto 10px; /* 가운데 정렬하고 아래 여백 추가 */
}

.ranking-card .nickname {
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
}

.ranking-card .rank {
    font-size: 24px;
    color: #ff5722;
}

.ranking-card .hit {
    color: #666666;
}


 /* 페이지 네이션 */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a, .pagination span {
    padding: 8px 16px;
    text-decoration: none;
    color: #ff5722;
    background-color: #f8f8f8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #ffccbc;
}

.pagination .current {
    font-weight: bold;
    background-color: #ffccbc;
    cursor: default;
}

.pagination .disabled span {
    color: #ddd;
    background-color: #f8f8f8;
    cursor: not-allowed;
}
